@font-face {
  font-family: "Stray";
  src: url("/assets/Font-Families/Stray/Demo_Fonts/Fontspring-DEMO-stray-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Stray";
  src: url("/assets/Font-Families/Stray/Demo_Fonts/Fontspring-DEMO-stray-bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Stray";
  src: url("/assets/Font-Families/Stray/Demo_Fonts/Fontspring-DEMO-stray-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Stray";
  src: url("/assets/Font-Families/Stray/Demo_Fonts/Fontspring-DEMO-stray-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Stray";
  src: url("/assets/Font-Families/Stray/Demo_Fonts/Fontspring-DEMO-stray-extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Midnight-Chalker";
  src: url("/assets/Font-Families/DK-Midnight-Chalker-Regular/DK Midnight Chalker.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "city-boys-soft";
  src: url("/assets/Font-Families/city-boys-soft/City.Boys.Soft/CityBoysSoft-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "city-boys-soft";
  src: url("/assets/Font-Families/city-boys-soft/City.Boys.Soft/CityBoysSoft-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "city-boys-soft";
  src: url("/assets/Font-Families/city-boys-soft/City.Boys.Soft/CityBoysSoft-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "city-boys-soft";
  src: url("/assets/Font-Families/city-boys-soft/City.Boys.Soft/CityBoysSoft-SemiBold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "city-boys-soft";
  src: url("/assets/Font-Families/city-boys-soft/City.Boys.Soft/CityBoysSoft-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Midnight-Chalker";
}